@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root{
    --primary-color:#1E3A8A;
}

body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-image: url(../images/cake.jpg);
    background-size: cover;
}


input{
    padding: 0.5rem;
    width: 20%;
    margin: 2rem;
    border-radius: 0.5rem;
    font-size: large;
}

button{
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-color);
    font-size: large
}

#result{
    margin: 2rem;
    font-size: large;
    font-weight: 600;
}
.heading{
    margin-top: 5rem
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

.container-footer{
    position: absolute;
    bottom: 0;
}

img{
    width: 40px;
}